{% extends 'base.html' %}
{% load static %}

{% block title %}Widget's Calendar of Activities{% endblock %}
{% block content %}
<h1>Widget's Calendar of Activities</h1>
<ul>
    {% for object in object_list %}
        <li><a href="{{ object.get_absolute_url }}">{{ object.activity }}</a></li>
    {% endfor %}
</ul>

<form action="./events/add">
    <button type="Submit">New Activity</button>
</form>

<div class="nav-bar">
  <a href="../dashboard/">Dashboard</a> <br/>
  <a href="../announcements/">Announcements</a> <br/>
  <a href="../forum/">Forum</a> <br/>
  <a href="../assignments/">Assignments</a> <br/>
</div>

{% endblock %}
