{% extends 'base.html' %}
{% load static %}

{% block title %} Add Activity {% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
    
        {{ form.as_p }}

        <button type="Submit">Save New Activity</button>
    </form>
{% endblock %}