{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Activity {% endblock %}
{% block content %}
<h1>Edit Activity</h1>
    <form method="POST">
        {% csrf_token %}
    
        {{ form.as_p }}

        <button type="Submit">Save New Activity</button>
    </form>
{% endblock %}