{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<h1>{{ object.activity }}</h1>
<b>Date and Time: </b> <p>{{ object.target_datetime|date:"m/d/Y, h:i A" }}</p> <br/>
<b>Estimated Hours: </b><p>{{ object.estimated_hours }}</p> <br/>
<b>Course: </b><p>{{ object.course }}</p> <br/>
<b>Mode: </b><p>{{ object.location.mode }}</p> <br/>
<b>Venue: </b><p>{{ object.location.getvenue|urlize }}</p> <br/>

<form action="../edit">
    <button type="Submit">Edit Activity</button>
</form>


{% endblock %}
