{% extends 'base.html' %}
{% block title %} Widget v2 {% endblock %}
{% block content %}
<h1>Welcome to Widget!</h1>
<h2>Widget Users:</h2>
<ul>
{% for user in users %}
  <a href="{{user.get_absolute_url}}">
    <li>{{ user.last_name }}, {{ user.first_name }}</li>
  </a>
{% endfor %}
</ul>
<form action="../widgetusers/add">
  <button type="Submit">Add Widget User</button>
</form>
<div class="nav-bar">
  <a href="../announcements">Announcements</a> <br/>
  <a href="../forum">Forum</a> <br/>
  <a href="../assignments">Assignments</a> <br/>
  <a href="../calendar">Calendar</a> <br/>
</div>
{% endblock %}
