{% extends 'base.html' %}
{% load static %}

{% block title %} Add Widget User {% endblock %}
{% block content %}
<div class="user-form">
  <h1>Add a new widget user:</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="Submit">Add Widget User</button>
  </form>
</div>
{% endblock %}
