{% extends 'base.html' %}
{% block title %} {{ object.last_name }}, {{ object.first_name }}{% endblock %}
{% block content %}
<div class="user-name">
  <h1>{{ object.first_name }}
      {{ object.middle_name }}
      {{ object.last_name }}
  </h1>
  <h2>{{ object.department.dept_name }}</h2>
  <h2>{{ object.department.home_unit }}</h2>
</div>
<form action="../edit">
  <button type="Submit">Edit Widget User</button>
</form>
{% endblock %}
