@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins:ital,wght@0,200;0,500;1,200&family=Roboto:wght@700&display=swap');

:root {
  --fg: #b7bdf8;
  --bg: #24273a;
  --desert: #b9baa3;
}
body {
  background-color: var(--bg);
  color: var(--fg);
  padding: 2rem;
  text-align: center;
}

a:visited {
  color: var(--fg);
}

a:link {
  color: var(--fg);
}

a:hover {
  color: var(--desert);
  font-size: 1.1rem;
}

a {
  transition: color 0.25s ease;
  transition: font-size 0.1s ease;
  font-family: 'Roboto';
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.15rem;
  font-family: 'Roboto';
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

b {
  font-family: 'Poppins', sans-serif;
}

button {
  border-radius: 0.15rem;
  padding: 0.5rem;
  border: none;
  background-color: var(--desert);
  color: var(--bg);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  box-shadow: 6px 5px 14px 1px rgba(19, 8, 54, 0.64);
  -webkit-box-shadow: 6px 5px 14px 1px rgba(19, 8, 54, 0.64);
  -moz-box-shadow: 6px 5px 14px 1px rgba(19, 8, 54, 0.64);
}

.nav-bar {
  padding: 0.5rem;
}
