{% extends 'base.html' %}
{% load static %}

{% block title %} Add Post {% endblock %}

{% block content %}
    <h1> Add a new post: </h1>
    <form method="POST">
        {% csrf_token %}

        {% for field in form%}
        <b>{{ field.label }}:</b> {{ field }} <br>
        <br>
        {% endfor %}

        
        <button type="submit">Save New Post</button>
    </form>
{% endblock %}
