{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Post {% endblock %}

{% block content %}
    <h1> Edit Post: </h1>
    <form method="POST">
        {% csrf_token %}

        {% for field in form%}
        <b>{{ field.label }}:</b> {{ field }} <br><br>
        {% endfor %}

        <button type="submit">Save Changes to Post</button>
    </form>
{% endblock %}
