{% extends 'base.html' %}
{% load static %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}
    <h1> {{ object.title }} </h1> 
    <h2> {{ object.author.first_name }} {{ object.author.last_name }}</h2>
    <h3> {{ object.pub_datetime|date:"m/d/Y, h:i A" }} </h3>
    <p> {{ object.body }} </p> <br>
    <p>Post Replies:</p>
    <ul>
        {% for reply in object.replies.all %}
            <li> 
                <p>by {{ reply.author.first_name }} {{ reply.author.last_name }}</p>
                <p>{{ reply.pub_datetime|date:"m/d/Y, h:i A" }}</p>
                <p>{{ reply.body }}</p>
            </li>
        {% endfor %}
    </ul>

    <form action="../edit">
        <button type="Submit">Edit Post</button>
    </form>
{% endblock %}
