{% extends 'base.html' %}
{% load static %}

{% block title %} Widget's Forum {% endblock %}

{% block content %}
    <h1>Welcome to Widget's Forum!</h1>
    <h2>Forum posts:</h2>
    <ul>
        {% for post in forumpost %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }} by {{ post.author.first_name }} {{ post.author.last_name }}</a></li>
        {% endfor %}
    </ul>

    <form action="./forumposts/add">
        <button type="Submit">New Post</button>
    </form>

    <div class="nav-bar">
      <a href="../dashboard/">Dashboard</a> <br/>
      <a href="../announcements/">Announcements</a> <br/>
      <a href="../assignments/">Assignments</a> <br/>
      <a href="../calendar/">Calendar</a> <br/>
    </div>
{% endblock %}
