{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Announcement {% endblock %}

{% block content %}

<h1> Edit announcement: </h1>

<form method="POST">
    {% csrf_token %}

    {# iterate through fields #}
    {% for field in form%}
    <b>{{ field.label }}:</b> {{ field }} <br><br>
    {% endfor %}

    <button type="submit">Save Changes to Announcement</button>
</form>

{% endblock %}