{% extends 'base.html' %}
{% load static %}

{% block title %} Add Announcement {% endblock %}

{% block content %}

<h1> Add a new announcement: </h1>

<form method="POST">
    {% csrf_token %}

    {# iterate through fields in the form #}
    {% for field in form%}
    <b>{{ field.label }}:</b> {{ field }} <br><br>
    {% endfor %}

    <button type="submit">Add Announcement</button>
</form>

{% endblock %}