{% extends 'base.html' %}
{% load static %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}
    {# announcement title #}
    <h1> {{ object.title }} </h1>

    {# announcement author using displayName method in model #}
    <h2> by {{ object.author.displayName }} </h2>

    {# format datetime with tags #}
    <h3> {{ object.pub_datetime|date:"m/d/Y, h:i A" }} </h3>

    {# announcement body #}
    <p> {{ object.body }} </p> <br>

    {# iterate through reactions, show name: tally #}
    <p>Reactions:</p>
    <ul>
        {% for reaction in object.reactlist.all %}
            <li> <b>{{ reaction.name}}:</b> {{ reaction.tally }} </li>
        {% endfor %}
    </ul>

    <form action="../edit">
        <button type="Submit">Edit Announcement</button>
    </form>
{% endblock %}
