{% extends 'base.html' %}
{% load static %}

{% block title %} Widget's Announcement Board {% endblock %}

{% block content %}

    <h1>Welcome to Widget's Announcement Board!</h1>

    <h2>Announcements:</h2>

    {# iterate through announcement_list from context, use get url function to link to detail page #}
    <ul>
        {% for announcement in announcement_list %}
            <li><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }} by {{ announcement.author.displayName }}</a></li>
        {% endfor %}
    </ul>
    
    <br/>
    <form action="./add">
        <button type="Submit">New Announcement</button>
    </form>
    <br/>

  <div class="nav-bar">
    <a href="../dashboard/">Dashboard</a> <br/>
    <a href="../forum/">Forum</a> <br/>
    <a href="../assignments/">Assignments</a> <br/>
    <a href="../calendar/">Calendar</a> <br/>
  </div>
{% endblock %}
