{% extends 'base.html' %}
{% load static %}

{% block title %} {{object.name}} {% endblock %}

{% block content %}
    <h1>{{object.name}}</h1>
    <h2>{{object.course.code}} {{object.course.title}} - {{ object.course.section }}<br>
        Description: {{object.description}}<br>
        Perfect Score: {{object.perfect_score}}<br>
        Passing Score: {{object.passing_score}}<br>
    </h2>

    <a href="/assignments/{{object.id}}/edit"><button>Edit Assignment</button></a>

{% endblock %}