{% extends 'base.html' %}
{% load static %}

{% block title %} Widget's Assignments{% endblock %}

{% block content%}
    <h1>Welcome to Widget's Assignments</h1>
    <ul>
        {% for assignment in assignments %}
            <li>
                <a href = "{{ assignment.get_absolute_url }}">
                    {{assignment}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <form action="./add">
        <button type="Submit">New Assignment</button>
    </form>

    <br>

    <a href = "../dashboard/">Dashboard</a><br>
    <a href = "../forum/">Forum</a><br>
    <a href = "../assignments/">Assignments</a><br>
    <a href = "../calendar/">Calendar</a><br>
{% endblock %}
