{% extends 'base.html' %}
{% load static %}

{% block title %} Add Assignment {% endblock %}

{% block content %}
    <h1> Add a new Assignment: </h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" value="Save New Assignment">
    </form>
{% endblock %}
