{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Assignment {% endblock %}

{% block content %}
    <h1> Edit Assignment: </h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" value="Save Changes to Assignment">
    </form>
{% endblock %}
